<div class="header">
  🎓 Painel Coordenação
</div>

<div class="container">

{% for a in atas %}
<div class="card">

  <b>👨‍🎓 {{ a["aluno_nome"] }}</b><br>

  <div class="tag ok">📄 {{ a["protocolo"] }}</div>

  <div class="tag p2">📌 {{ tipos.get(a["tipo"]) }}</div>

  <br>

  <form method="POST" action="/parecer/{{ a["id"] }}">

    <textarea name="parecer" placeholder="Digite o parecer..." required></textarea>

    <select name="status">
      <option value="DEFERIDO">🟢 Deferir</option>
      <option value="INDEFERIDO">🔴 Indeferir</option>
    </select>

    <button>Enviar decisão</button>
  </form>

</div>
{% endfor %}

</div>