<div class="header">
  🏢 Painel Secretaria
</div>

<div class="container">

<div class="card">
  <h3>➕ Cadastrar Aluno</h3>
  <form method="POST" action="/admin/create_user">
    <input name="username" placeholder="Nome do aluno" required>
    <input name="cpf" placeholder="CPF" required>
    <button>Cadastrar</button>
  </form>
</div>

{% for a in atas %}
<div class="card">

  <b>👨‍🎓 {{ a["aluno_nome"] }}</b><br>

  <div class="tag ok">📄 {{ a["protocolo"] }}</div>

  <div class="tag p2">📌 {{ tipos.get(a["tipo"]) }}</div>

  <br>

  {% if not a["atendente"] %}
    <form method="POST" action="/atender/{{ a["id"] }}">
      <button>🟡 Atender</button>
    </form>
  {% endif %}

  {% if a["status"] == "EM_ATENDIMENTO" %}
    
    <form method="POST" action="/finalizar/{{ a["id"] }}">
      <button style="background:#16a34a">🟢 Finalizar</button>
    </form>

    <form method="POST" action="/enviar_coord/{{ a["id"] }}">
      <button style="background:#f59e0b">🟠 Enviar p/ Coord</button>
    </form>

  {% endif %}

</div>
{% endfor %}

</div>